footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul li h4 {
  color: var(--primary-text-color);
}
footer ul li p {
  margin-top: 8px;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    gap: 2rem;
  }
  footer ul li:last-child {
    display: none;
  }
  footer ul {
    font-size: 0.7rem;
  }
  footer ul li p {
    font-size: 0.8rem;
  }
}
